In [1]:
import pandas as pd
import numpy as np
import json
import requests
from selenium import webdriver
from bs4 import BeautifulSoup


with open('auth.json', 'r') as f:
    auth = json.load(f)

url = "https://s20.si0.kabu.co.jp/members/"
driver = webdriver.Chrome(
    executable_path=r'C:\Users\KOJ\PycharmProjects\untitled\GitMaster\auto_Investment\chromedriver')
driver.get(url)
driver.find_element_by_name('SsLogonUser').send_keys(auth['id'])
driver.find_element_by_name('SsLogonPassword').send_keys(auth['APIPassword'])
driver.find_element_by_id('image1').click()

s = requests.Session()
for cookie in driver.get_cookies():
    s.cookies.set(cookie['name'], cookie['value'])

ETF_Link = pd.read_csv('ETF_link.csv', encoding='utf-8')
ETF_Link = ETF_Link.values

for i in ETF_Link:
    etfNum = i[0].split('.')[-2].split('=')[-1]
    timeSeriesLink = "https://s20.si0.kabu.co.jp/ap/PC/InvInfo/Market/StockDetail/Default?Symbol=" + etfNum + \
                     "&Exchange=TSE&Category=PRICE_HISTORY"
    result = s.get(timeSeriesLink).text
    soup = BeautifulSoup(result, "html.parser")
    table = soup.find_all("table", class_="tb3")
    df = pd.read_html(str(table), header=0)[0]
    df = df.drop("前日比", axis=1)
    df = df.rename(columns={'基準日': 'Date', '始値': 'Open', '高値': 'High', '安値': 'Low', '終値': 'Close', '出来高': 'Volume'})


    def fix_date(row):
        return row.split('(')[0]


    df['Date'] = df['Date'].apply(fix_date)
    df = df.replace('--', np.nan)
    df = df.dropna(axis=0)

    result = pd.DataFrame(df)
    break
    # result.to_csv(etfNum + '.csv', index=False, encoding='utf-8')

driver.close()

In [15]:
print()

         Date   Open   High    Low  Close Volume
0  2021/03/08  13270  13270  13150  13150     54

In [6]:
load = pd.read_csv('1305.csv', encoding='utf-8')

In [25]:
print(result[:2])

         Date   Open   High    Low  Close Volume
0  2021/03/08  13270  13270  13150  13150     54
1  2021/03/05  13130  13260  13130  13260     69

In [24]:
pd.concat([result[:1],load[1:]])

          Date   Open   High    Low  Close  Volume
0   2021/03/08  13270  13270  13150  13150      54
1   2021/03/04   1985   1993   1963   1982  512650
2   2021/03/03   1999   2005   1990   2004  179760
3   2021/03/02   2017   2017   1981   1995  220450
4   2021/03/01   1990   2003   1988   2000  160500
5   2021/02/26   1997   1997   1953   1953  523910
6   2021/02/25   2032   2032   2024   2028  141240
7   2021/02/24   2031   2034   2001   2001   45260
8   2021/02/22   2050   2055   2036   2037  457240
9   2021/02/19   2024   2035   2022   2028  319910
10  2021/02/18   2066   2070   2038   2042  277990
11  2021/02/17   2066   2069   2056   2062  435280
12  2021/02/16   2059   2078   2057   2068  434330
13  2021/02/15   2048   2058   2045   2054  372060
14  2021/02/12   2039   2040   2028   2031   59500
15  2021/02/10   2021   2036   2019   2031  168260
16  2021/02/09   2027   2031   2016   2025  245810
17  2021/02/08   1998   2025   1998   2023  504600
18  2021/02/05   1982   1990   1975   1990   92350
19  2021/02/04   1968   1975   1959   1963   90830
20  2021/02/03   1954   1969   1954   1969  185000
21  2021/02/02   1932   1944   1925   1944  129130
22  2021/02/01   1897   1927   1896   1922  435930
23  2021/01/29   1941   1942   1898   1904  292520
24  2021/01/28   1914   1942   1912   1932  124450
25  2021/01/27   1954   1959   1947   1959  188130
26  2021/01/26   1949   1953   1942   1944   57560
27  2021/01/25   1956   1959   1950   1957    8150
28  2021/01/22   1945   1955   1944   1952   36880
29  2021/01/21   1953   1967   1952   1955  474430

In [7]:
import pandas as pd
import numpy as np
import json
import requests
from selenium import webdriver
from bs4 import BeautifulSoup

df = pd.read_csv(r'C:\Users\KOJ\PycharmProjects\untitled\GitMaster\auto_Investment\1305.csv', encoding='utf-8')

In [8]:
print(df)

          Date  Open  High   Low  Close  Volume
0   2021/03/09  2004  2019  1993   2018  342760
1   2021/03/08  2019  2021  1985   1991  110190
2   2021/03/05  1974  1995  1957   1994  436740
3   2021/03/04  1985  1993  1963   1982  512650
4   2021/03/03  1999  2005  1990   2004  179760
5   2021/03/02  2017  2017  1981   1995  220450
6   2021/03/01  1990  2003  1988   2000  160500
7   2021/02/26  1997  1997  1953   1953  523910
8   2021/02/25  2032  2032  2024   2028  141240
9   2021/02/24  2031  2034  2001   2001   45260
10  2021/02/22  2050  2055  2036   2037  457240
11  2021/02/19  2024  2035  2022   2028  319910
12  2021/02/18  2066  2070  2038   2042  277990
13  2021/02/17  2066  2069  2056   2062  435280
14  2021/02/16  2059  2078  2057   2068  434330
15  2021/02/15  2048  2058  2045   2054  372060
16  2021/02/12  2039  2040  2028   2031   59500
17  2021/02/10  2021  2036  2019   2031  168260
18  2021/02/09  2027  2031  2016   2025  245810
19  2021/02/08  1998  2025  1998   2023  504600
20  2021/02/05  1982  1990  1975   1990   92350
21  2021/02/04  1968  1975  1959   1963   90830
22  2021/02/03  1954  1969  1954   1969  185000
23  2021/02/02  1932  1944  1925   1944  129130
24  2021/02/01  1897  1927  1896   1922  435930
25  2021/01/29  1941  1942  1898   1904  292520
26  2021/01/28  1914  1942  1912   1932  124450
27  2021/01/27  1954  1959  1947   1959  188130
28  2021/01/26  1949  1953  1942   1944   57560
29  2021/01/25  1956  1959  1950   1957    8150
30  2021/01/22  1945  1955  1944   1952   36880
31  2021/01/21  1953  1967  1952   1955  474430

In [9]:
df.set_index('Date', inplace=True)

In [10]:
print(df.head())

            Open  High   Low  Close  Volume
Date
2021/03/09  2004  2019  1993   2018  342760
2021/03/08  2019  2021  1985   1991  110190
2021/03/05  1974  1995  1957   1994  436740
2021/03/04  1985  1993  1963   1982  512650
2021/03/03  1999  2005  1990   2004  179760

In [13]:
df['Close']

Date
2021/03/09    2018
2021/03/08    1991
2021/03/05    1994
2021/03/04    1982
2021/03/03    2004
2021/03/02    1995
2021/03/01    2000
2021/02/26    1953
2021/02/25    2028
2021/02/24    2001
2021/02/22    2037
2021/02/19    2028
2021/02/18    2042
2021/02/17    2062
2021/02/16    2068
2021/02/15    2054
2021/02/12    2031
2021/02/10    2031
2021/02/09    2025
2021/02/08    2023
2021/02/05    1990
2021/02/04    1963
2021/02/03    1969
2021/02/02    1944
2021/02/01    1922
2021/01/29    1904
2021/01/28    1932
2021/01/27    1959
2021/01/26    1944
2021/01/25    1957
2021/01/22    1952
2021/01/21    1955
Name: Close, dtype: int64

In [14]:
df['Close'].sort_index()

Date
2021/01/21    1955
2021/01/22    1952
2021/01/25    1957
2021/01/26    1944
2021/01/27    1959
2021/01/28    1932
2021/01/29    1904
2021/02/01    1922
2021/02/02    1944
2021/02/03    1969
2021/02/04    1963
2021/02/05    1990
2021/02/08    2023
2021/02/09    2025
2021/02/10    2031
2021/02/12    2031
2021/02/15    2054
2021/02/16    2068
2021/02/17    2062
2021/02/18    2042
2021/02/19    2028
2021/02/22    2037
2021/02/24    2001
2021/02/25    2028
2021/02/26    1953
2021/03/01    2000
2021/03/02    1995
2021/03/03    2004
2021/03/04    1982
2021/03/05    1994
2021/03/08    1991
2021/03/09    2018
Name: Close, dtype: int64